body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    margin: 0 auto;
}

header{
    display: flex;
    margin-bottom: 40px;
    margin-inline: 80px;
    flex-direction: row;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}

section{
    margin: none;
}

.title{
    display: flex;
    flex-direction: row;
}

.title img {
    width: 70px;
}

.title .text-title{
    flex-direction: column;
    line-height: 10px;
}


li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
    text-decoration: none
}

a:hover{
    color: rgb(255, 71, 20);
    transition: 0.3s all;
}

#inscreva-se-btn{
    border: 2px solid rgb(255, 71, 20);
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover{
    background-color: rgb(255, 71, 20);
    color: white;
}

h1{
    font-weight: 200;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

h4{
    color: black;
    font-size: 18px;
    line-height: 0px;
    font-family: poppinsmedium;
}

span{
    color: rgb(255, 71, 20);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

.section-title{
    margin-top: 80px;
    color:  white;
}

.section-subtitle{
    color: white;
    font-size: 22px;
}

#infos-course{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    margin: none;
}


#details-course{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 40px 0px;
}

.doubts-course{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    margin: 50px;
}

.doubts-course > h3{
    align-items: center;
    text-align: center;
    color: rgb(255, 71, 20);
    
}

.doubts-course > img {
    width: 300px;
    margin: none;
}

.info-doubts{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.info-doubts > ul{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.info-course > h3{
    align-items: center;
    text-align: center;
    color: rgb(255, 71, 20);
}

.text-course{
   margin: 30px;
}

.investiment-course > h3{
    align-items: center;
    text-align: center;
    color: rgb(255, 71, 20);
}

.investiment-course > ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#footer_items {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#copyright {
    color: white;;
    font-weight: 500;
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: rgb(34, 34, 34);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}
